<div class="flexcol">
    <div class="flexrow">
        <label for="system.pool.value" class="resource-label">{{localize @root.config.labels.pool}}</label>
        <input type="text" name="system.pool.value" value="{{system.pool.value}}" data-dtype="String"/>
    </div>
    <div class="flexrow">
        <label for="system.moral.value" class="resource-label">{{localize @root.config.labels.moral}}</label>
        <div class="ressource-label ml-5">
            {{localize (lookup @root.config.moral system.moral.value)}}
        </div>
    </div>
</div>